name: Publish to Web

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

    
      - name: Fix Filename (Auto-Heal)
        run: |
          if [ -f main.py.txt ]; then
            mv main.py.txt main.py
            echo "✅ 已將 main.py.txt 改名為 main.py"
          fi
          if [ -f */main.py ]; then
             mv */main.py .
             echo "✅ 已將資料夾內的 main.py 搬出來"
          fi
      # -------------------------------------

      - name: Install Flet
        run: pip install flet --no-cache-dir

      - name: Build Web App
        run: |
          flet publish main.py --distpath dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
