name: Publish to Web

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Check Files (Debug)
        run: ls -R # 這行會幫我們檢查 main.py 到底在不在

      - name: Install Flet
        run: pip install flet==0.21.0

      - name: Build Web App
        run: |
          # 嘗試打包
          flet publish main.py --app --dest dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
