name: Publish to Web

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Flet
        run: pip install flet --no-cache-dir

      - name: Build Web App
        run: |
          
          REPO_NAME=$(echo "${{ github.repository }}" | awk -F / '{print $2}')
          
          echo "偵測到的專案名稱為: $REPO_NAME"
          
        
          flet publish main.py --distpath dist --base-url /$REPO_NAME/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
